#dependecies
ProjectRequisite/
.vscode/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*





#Backend....................................................

mywheels/HELP.md
mywheels/target/
mywheels/!.mvn/wrapper/maven-wrapper.jar
mywheels/!**/src/main/**/target/
mywheels/!**/src/test/**/target/

### STS ###
mywheels/.apt_generated
mywheels/.classpath
mywheels/.factorypath
mywheels/.project
mywheels/.settings
mywheels/.springBeans
mywheels/.sts4-cache
mywheels/README.md


### IntelliJ IDEA ###
mywheels/.idea
mywheels/*.iws
mywheels/*.iml
mywheels/*.ipr

### NetBeans ###
mywheels/nbproject/private/
mywheels/nbbuild/
mywheels/dist/
mywheels/nbdist/
mywheels/.nb-gradle/
mywheels/build/
mywheels/mywheels/!**/src/main/**/build/
mywheels/mywheels/!**/src/test/**/build/

### VS Code ###
mywheels/.vscode/
